
<main id="content" role="main">
  <!-- Gallery -->
  <div class="container content-space-t-3 content-space-t-lg-5">
    <!-- Heading -->
    <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
      <h1>MAAUN Clinic – Centered on care, designed for impact.</h1>
    </div>

    <!-- End Heading -->

    <div class="row gx-3 gx-lg-4">
      <div class="col-5 align-self-end">
        <img class="img-fluid rounded-2" src="/7E4A1940.webp" alt="Image Description">
      </div>
      <!-- End Col -->
      <div class="col-7">
        <div class="ms-lg-4">
          <img class="img-fluid rounded-2" src="/7E4A1924.webp" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Gallery -->

  <div class="container content-space-2 content-space-lg-3">
    <div class="row justify-content-lg-between">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2>Healthcare should adapt to the patient, not the other way around.</h2>
      </div>
      <!-- End Col -->

      <div class="col-lg-6">
        <p>At MAAUN Clinic, we are committed to providing patient-centered care through innovative digital health services. We believe that the best healthcare experiences emerge when medical expertise meets empathy, supported by modern technology.</p>
        <p>Our platform is designed to simplify access, reduce wait times, and create a seamless experience—from booking appointments to follow-ups. With a focus on clarity, compassion, and efficiency, MAAUN Clinic ensures every interaction is meaningful, comfortable, and focused on what matters most: your health.</p>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

  <div class="container content-space-2 content-space-lg-3">
    <div class="row align-items-md-center">
      <div class="col-md-5 d-none d-md-block">
        <img class="img-fluid rounded-2" src="/AAG55-scaled.webp" alt="Dr. Adamu Abubakar Gwarzo">
      </div>
      <!-- End Col -->

      <div class="col-md-7">
        <!-- Blockquote -->
        <figure class="pe-md-7">
       <!--   <div class="mb-4">
            <img class="avatar avatar-xl avatar-4x3" src="/AAG55-scaled.webp" alt="MAAUN Logo">
          </div>-->

          <blockquote class="blockquote blockquote-lg">
            “At MAAUN, we are not just building a university—we are nurturing a generation that leads with knowledge, compassion, and purpose.”
          </blockquote>

          <figcaption class="blockquote-footer">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 d-md-none">
                <img class="avatar avatar-circle" src="/AAG55-scaled.webp" alt="Dr. Adamu Abubakar Gwarzo">
              </div>
              <div class="flex-grow-1 ms-3 ms-md-0">
                Dr. Adamu Abubakar Gwarzo
                <span class="blockquote-footer-source">Founder and Vice Chancellor, Maryam Abacha American University of Nigeria</span>
              </div>
            </div>
          </figcaption>
        </figure>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>


</main>


