<main id="content" role="main">
  <div class="border-top mx-auto" style="max-width: 25rem;"></div>

  <!-- Department Grid -->
  <div class="container content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-65 mb-5 mb-md-9">
      <span class="text-cap">Hospital Departments</span>
      <h2 class="lh-base">Explore our specialized medical departments to book your appointment with the right professionals.</h2>
    </div>
    <!-- End Heading -->

    <div class="row">
      @for (department of allDepartments(); track department) {
        <div class="col-md-4 mb-3 mb-md-0">
          <!-- Card -->
          <a [routerLink]="['/doctor-booking', department.id]" routerLinkActive="active" class="card card-transition h-100" >
            <img class="card-img-top" [src]="department.photoUrl" alt="{{ department.name }}">

            <div class="card-body">
              <h3 class="card-title text-inherit">{{ department.name }}</h3>
              <p class="card-text text-body">{{ department.description }}</p>
            </div>

            <div class="card-footer pt-0">
              <span class="card-link">Book Now <i class="bi-chevron-right small ms-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>
      }
    </div>
    <!-- End Row -->
  </div>


  <!-- End Department Grid -->
</main>
